@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

h1 {
  font-size: 40px;
  font-weight: 500;
  font-family: var(--font-inter);
}

h2 {
  font-size: 36px;
  font-weight: 500;
  font-family: var(--font-inter);
}

h3 {
  font-size: 32px;
  font-weight: 500;
  font-family: var(--font-inter);
}

h4 {
  font-size: 24px;
  font-weight: 500;
  font-family: var(--font-inter);
}

h5 {
  font-size: 20px;
  font-weight: 500;
  font-family: var(--font-inter);
}

h6 {
  font-size: 18px;
  font-weight: 500;
  font-family: var(--font-inter);
}

p {
  font-size: 16px;
  font-weight: 400;
  font-family: var(--font-inter);
}

p.large {
  font-size: 18px;
  font-weight: 400;
  font-family: var(--font-inter);
}

p.small {
  font-size: 14px;
  font-weight: 400;
  font-family: var(--font-inter);
}

p.x-small {
  font-size: 12px;
  font-weight: 400;
  font-family: var(--font-inter);
}

.admin-login-button {
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.12) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    #050210;
  box-shadow: 0px 0px 0px 1px #020104, 0px 1px 2px 0px rgba(0, 0, 0, 0.5);
}
