@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

h1 {
  font-size: 40px;
  font-weight: 500;
  font-family: var(--font-inter);
}

h2 {
  font-size: 36px;
  font-weight: 500;
  font-family: var(--font-inter);
  line-height: 44px;
}

h3 {
  font-size: 32px;
  font-weight: 500;
  font-family: var(--font-inter);
}

h4 {
  font-size: 24px;
  font-weight: 500;
  font-family: var(--font-inter);
}

h5 {
  font-size: 20px;
  font-weight: 500;
  font-family: var(--font-inter);
  line-height: 30px;
}

h6 {
  font-size: 18px;
  font-weight: 500;
  font-family: var(--font-inter);
  line-height: 28px;
}

p {
  font-size: 16px;
  font-weight: 400;
  font-family: var(--font-inter);
  line-height: 24px;
}

p.large {
  font-size: 18px;
  font-weight: 400;
  font-family: var(--font-inter);
}

p.small {
  font-size: 14px;
  font-weight: 400;
  font-family: var(--font-inter);
  line-height: 20px;
}

p.x-small {
  font-size: 12px;
  font-weight: 400;
  font-family: var(--font-inter);
}

.admin-login-button {
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.12) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    #050210;
  box-shadow: 0px 0px 0px 1px #020104, 0px 1px 2px 0px rgba(0, 0, 0, 0.5);
}
.shadow {
  box-shadow: 0px 0px 0px 1px rgba(214, 216, 222, 0.25),
    0px 1px 2px -1px rgba(12, 21, 28, 0.05),
    0px 1px 3px 0px rgba(12, 21, 28, 0.05);
}

.icon-shadow {
  box-shadow: 0px 0px 0px 1px #eceff3;
}

.green-shadow {
  box-shadow: 0px 0px 0px 0.6px #c4ebd2;
}

.red-shadow {
  box-shadow: 0px 0px 0px 0.6px rgba(200, 28, 28, 0.24);
}

.adminWidth {
  width: calc(100vw - 272px);
}

.focus-bg {
  background: rgba(1, 5, 12, 0.72);
  height: calc(100vh - 88px);
}

.focus-bg-full {
  display: flex;
  /* width: 100vw; */
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background: rgba(52, 64, 84, 0.7);
  backdrop-filter: blur(8px);
}

.form-button {
  border-radius: 6px;
  border: 1px solid var(--Form-Button-Stroke, #fff);
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.12) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    #5f57ff;
  box-shadow: 0px 0px 0px 1px #4f47eb, 0px 1px 2px 0px rgba(26, 19, 161, 0.5);
}

.button-secondary-normal {
  border-radius: 6px;
  box-shadow: 0px 0px 0px 1px rgba(18, 55, 105, 0.08),
    0px 1px 2px 0px rgba(164, 172, 185, 0.24);
}
